.App {
  text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: darkred;
   color: blanchedalmond
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: solid
}

.App-title {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-container {
  display: inline-grid;
 
}

.grid-item {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: darkred;
  color: blanchedalmond;
  
    border-width:25px;  
    border-style:outset;
    display:block;

}

img {
  border-radius: 10%;
  border-width:5px;  
    border-style: solid
}

h1 {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-decoration: underline overline dotted;

}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-stretch: expanded;
  text-decoration: underline overline dotted;
  text:bold
}

.description {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.zoom {
 
 
  transition: transform .5s; /* Animation */
  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */


}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}